.guessFeedback {
	margin: 0 auto;
    background: #cc324b;
    padding: 20px;
    font-size: 25px;
    font-weight: 400;
    display: block;
    line-height: 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
}