.header {
	font-weight: 900;
    font-size: 3em;
    padding: 0.8em;
    color: #fff;
}

.guessBoxSection {
	margin-top: 100px;
}

.guessBox {
	background-color: #3b4466;
	width: 380px;
	height: 380px;
	margin: 20px auto;
	border-radius: 4px;
}