.navbar {
	color: white;
}

.newGame, .moreInfo {
	display: inline-block;
	position: absolute;
	top: 15px;
}

.newGame:hover, .moreInfo:hover {
	cursor: pointer;
}

.moreInfo {
	left: 20px;
}

.newGame {
	right: 20px;
}
